*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
section{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
    padding: 20px 40px;
}
.words{
    color: aliceblue;
    padding: 50px;
    margin: 50px;
}
.title{
    color:  rgb(92,210,184);
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
}
.words .h{
    display: flex;
    font-size: 30px;  
}
.words .A{
    margin-left: 10px;
    color: rgb(92,210,184);
}
hr{
    width: 80px;
    border: 1px solid rgb(92,210,184) ;
}
.words .p{
    width: 400px;
    color:rgb(148, 146, 146);
    margin-top: 15px;
    font-size: 13px;
}
.p .c{
    color: rgb(121, 118, 118);
    margin-top: 35px;
}
.words button{
    margin-top: 20px;
    padding: 15px 22px ;
    background-color: rgb(92,210,184) ;
    color: white;
    font-size: 15px;
    border: none;
    font-weight: 500;
    font-family: sans-serif;
}
.img{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 550px;
    margin-top: 50px;
    padding: 10px;
    box-sizing: border-box;
}
.brand{
    width: 280px;
    height: 210px;
    padding:30px 50px;
    background-color: rgb(15, 15, 15);
    box-shadow: 0px 0px 2px 0px rgb(26, 25, 25);
}
.website{
    width: 280px;
    height: 210px;
    padding:30px 50px;
    background-image: linear-gradient(to top, rgb(17,40,34) ,rgb(17,40,34)  ,black);
    box-shadow: 0px 0px 2px 0px rgb(26, 25, 25);
    
}
.ui-ux{
    width: 280px;
    height: 210px;
    padding:30px 50px;
    background-image: linear-gradient(to top, rgb(17,40,34) ,rgb(17,40,34)  ,black);
   box-shadow: 0px 0px 2px 0px rgb(26, 25, 25);
}
.marketing{
    width: 280px;
    height: 210px;
    padding:30px 50px;
    background-color: rgb(15, 15, 15);
    box-shadow: 0px 0px 2px 0px rgb(26, 25, 25);
}
.img div{
    margin: 15px;
    transition: 0.2s ease-in-out;
    border: none;
   
}
.img div:hover {
    transform: scale(1.1);
}
.img .ui-ux{
    margin-top: -9px;
}
.img .brand{
    margin-top: -3px;
}
.img .website{
    margin-bottom: -4px;
}
.img img{
    width: 70px;
    margin-left: 50px;
}
.img h1{
    text-align: center;
    font-size: 22px;
    margin: 5px 0 10px;
    color: aliceblue;
}
.img p{
    text-align: center;
    font-size: 15px;
    color: rgb(114,121,120);
}